
    <div class="text-white text-dark text-center">
        <div
            style="background-color:darkcyan; height: 100px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
            <div class="row">
                <div class="col col-sm-1" style="margin-top: 15px; margin-left: 20px;">
                    <img src="../assets/mainLogo.png" width="110px" style="border-radius: 15px; ">
                </div>
                <div class="col col-sm-10" style="margin-top: 15px;">
                    <h2 class="card-title h1-responsive pt-3 font-bold"><strong>Gift Card Store</strong></h2>
                </div>
            </div>
        </div>


        <nav class="mb-1 navbar navbar-expand-lg navbar-light lighten-1" style="background-color: orange;">
            <a class="navbar-brand" routerLink="">Gift Card Store</a>

     <!--   <small class="userName">{{ "welcomes "+ user.rfName }}</small>
 -->

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="">Home
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/placeOrder">Place Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/viewOrder">View Order</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="/contact">
                                    <i class="fa fa-sign-in-alt"></i> Contact us
                                    <!-- <span class="sr-only">(current)</span> -->
                                </a>
                            </li>
                        </ul>
                    </div>

                    <li class="nav-item avatar">
                        <a class="nav-link p-0" href="#">
                            <img src="../assets/doctor_logo.jpg" class="rounded-circle z-depth-0" alt="vr image"
                                height="35">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

</div>