
<div style="margin-left: 250px;">
<div class="main text-center" >
    <h2 style="font-family: chiller; font-size: 33px"><u><b>Gift Card</b></u></h2>
    <p  style="max-width: 1000px">At Gift card 1.0,we understand what gifting
        entails, and how through the things you gift others, you are also
        taking a step towards strengthening your bond – of love, and trust -
        with them.Therefore,our attempt is to make your experience at our
        store should be unique. We are providing gifts with an extensive
        collection of both ethnic and modern,contemporary gift cards for any
        occassion you think of. We have made it easy for you to buy gift
        cards by selecting online with timely delivery,including an option of
        cash on delivery and with safe delivery.We are also prviding free
        shipping on most of the gift cards,online gift shopping become
        delightful and stress-free all online shoppers at Gift Card 1.0.</p>
    <br>

    <p  style="max-width: 1000px">We are providing cards not only for specific
        occassions like FriendshipDay, Valentine's Day but also for different
        personalities like women who are “thoughtful and creative” to perfect
        “hostess(es),” to men who are “stylish” and “romantic,” girls who are
        the “princess” or “wild” kinds, and teen boys who are the “coolest
        dudes” or are techno-wizards.</p>
    <br>
    <p  style="max-width: 1000px">We are also providing the customised and
        personalised gift cards based on the occations with gift hampers if
        needed.</p>
</div>
<div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-sm-7">
        <button class="btn btn-warning" style="font-size: 45px; border-radius: 10px;" routerLink="/placeOrder">Place Order</button>
    </div>
    <div class="col col-sm-1"></div>
</div>

</div>
